@model PongKey.Models.Welcome.ViewModels.WelcomeViewModel
@{
    ViewBag.Title = "Index";
 }
<h4>
    Welcome ...
</h4>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="Main" class="Main">
            <div>
                <strong> Add event</strong>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        @using (Html.BeginForm("Index", "Welcome", FormMethod.Post))
                        {
                            <tr>
                                <td style="text-align: left; ">
                                    @Html.TextBoxFor(m => m.Name, new { style = "width: 100%" })
                                </td>
                                <td style="text-align: center;width: 15%">
                                    <button id="Add" style="width:100%">Add</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <strong>Events (Total: 5)</strong>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="5%">
                                #
                            </th>
                            <th>
                                What?
                            </th>
                            <th width="15%">
                                When?
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 
                                1
                            </td>
                            <td>
                                @Html.ActionLink("Trip to Europe", "Index", "Detail", new { Id = "1" }, null)                                
                            </td>
                            <td>
                                10-AUG-2017
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                @Html.ActionLink("Birthday Celebration", "Index", "Detail", new { Id = "2" }, null)                                
                            </td>
                            <td>
                                02-NOV-2017
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                @Html.ActionLink("Move to Mauritius" ,"Index", "Detail", new { Id = "3" }, null)  
                            </td>
                            <td>
                                02-SEP-2018
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                @Html.ActionLink("Register Company", "Index", "Detail", new { Id = "4" }, null)                                
                            </td>
                            <td>
                                14-JUL-2018
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                @Html.ActionLink("Deploy Safe Share", "Index", "Detail", new { Id = "5" }, null)
                            </td>
                            <td>
                                02-OCT-2018
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

 